<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <div class="navbar-form">
                <div class="form-group">
                    <select [(ngModel)]="room" class="form-control" name="room">
                        <option value="">Escolha a sala</option>
                        <option *ngFor="let room of roomService.rooms | async" [value]="room.name">{{room.name}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" (click)="join()">Join</button>
                </div>

                <div class="form-group">
                    <button class="btn btn-danger" (click)="remove()">Remove</button>
                </div>
                <div class="navbar-right" style="margin-left: 450px !important;">
                    <div class="form-group">
                        <span>Nova Sala: </span>
                        <input [(ngModel)]="newRoom" class="form-control" (keypress)="eventHandler($event)">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" (click)="create()">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
