<div class="col-sm-3 col-md-2 sidebar">
    <div style="margin-bottom: 3px">
        <strong>Salas</strong>
    </div>
    <ul class="nav nav-sidebar" [(ngModel)]="room" name="room" ngDefaultControl>
        <li (click)="join(room.name)"
            style="margin-left: 10px;"
            *ngFor="let room of roomService.list"
            [value]="room.name"
            role="button"
            data-toggle="popover"
        >{{room.name}}
        </li>
    </ul>

    <div style="margin-top: 150px">
        <div style="margin-bottom: 3px">
            <strong>Usuários</strong>
        </div>
        <ul class="nav nav-sidebar">
            <li (click)="joinPrivateRoom(user)"
                style="margin-left: 10px;"
                *ngFor="let user of this.userService.privateList"
                [value]="user.name"
                role="button"
                data-toggle="popover"
            >{{user.name}}
            </li>
        </ul>
    </div>
</div>