<script src="https://use.fontawesome.com/45e03a14ce.js"></script>
<div class="main_section">
    <div class="container">
        <div class="chat_container">
            <div class="col-sm-3 chat_sidebar">
                <div class="row" style="height: 300px;">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="  search-query form-control" placeholder="Conversation">
                            <button class="btn btn-danger" type="button">
                                <span class=" glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                    <div class="dropdown all_conversation">
                        <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-weixin" aria-hidden="true"></i>
                            Salas
                            <span class="caret pull-right"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" >
                            <li><a href="#"> All Conversation </a>  <ul class="sub_menu_ list-unstyled">
                                <li><a href="#"> All Conversation </a> </li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                            </li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="member_list">
                        <ul class="list-unstyled" [(ngModel)]="room" name="room" ngDefaultControl>
                            <li class="left clearfix" (click)="join(room)" *ngFor="let room of roomService.list"  [value]="room.name"   role="button">
                     <span class="chat-img pull-left">
                     <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle">
                      </span>
                                <div class="chat-body clearfix">
                                    <div class="header_sec">
                                        <span class="primary-font">{{room.name}}</span>
                                    </div>
                                    <div class="contact_sec">
                                        <span class="badge pull-right">3</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div></div>

                <div class="row">
                    <div class="dropdown all_conversation">
                        <button class="dropdown-toggle" type="button" id="dropdownMenu22" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-weixin" aria-hidden="true"></i>
                            Usuários
                            <span class="caret pull-right"></span>
                        </button>
                    </div>
                    <div class="member_list">
                        <ul class="list-unstyled" >
                            <li class="left clearfix" (click)="joinPrivateRoom(user)" *ngFor="let user of this.userService.privateList" [value]="user.name"  role="button">
                     <span class="chat-img pull-left">
                     <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
                      </span>
                                <div class="chat-body clearfix">
                                    <div class="header_sec">
                                        <strong class="primary-font">{{user.name}}</strong>
                                    </div>
                                    <div class="contact_sec">
                                        <span class="badge pull-right">3</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <rooms></rooms>
        </div>
    </div>
</div>