<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">Digite seu nome:</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form" name="form">
        <div class="form-group">
          <input #focus [(ngModel)]="nickname"
                 name="nickname"
                 (keypress)="eventHandler($event)"
                 type="text"
                 class="form-control">
        </div>
        <button (click)="save()" class="btn btn-success">Entrar</button>
        <a class="nav-link" routerLink="/rom">Rota</a>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>